name: dist
on:
    push:
        branches: master
        paths:
            - '**.js'
            - '**.yml'
            - 'package.json'
            - '!dist/**'
jobs:
    create-dist:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.3.1
              with:
                  fetch-depth: 0
                  token: ${{ secrets.DIST_TOKEN }}
            - name: Check Dist Exists
              run: |
                  npm i
                  npm run-script package
                  git config user.name "Github Action"
                  git config user.email "action@github.com"
                  git diff -s --exit-code dist/index.js
            - name: Commit Dist
              if: failure()
              run: git commit -m "Auto-generate dist" -a
            - name: Push Dist File
              if: failure()
              uses: ad-m/github-push-action@v0.6.0
              with:
                  github_token: ${{ secrets.DIST_TOKEN }}
